$light: #fff;
$primary-color: #31465a;
$secondary-color: #b10207;
$base-color: #6f8ba4;
$title-color: #5f010a;
$black: #222;
$gray: #eff0f3;
$secondary-bg: #b26d46;
$border-color: #fafafa;
$primary-font: 'Exo 2', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$logo-font: 'Montserrat Alternates', sans-serif;

$grad-color: linear-gradient(to bottom, #05a5f9, #10dab7);
